---

---

<nav>
    <svg
        width="5.5em"
        viewBox="0 0 2356 1210"
        style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;"
        ><path
            d="M1372.163,983.375l-630.504,-630.504m382.55,382.55c-58.35,232.483 -268.883,404.85 -519.354,404.85c-295.504,0 -535.417,-239.913 -535.417,-535.417c0,-295.504 239.913,-535.417 535.417,-535.417c147.754,0 281.608,59.979 378.521,156.896m630.504,630.504l-630.504,-630.504m0,0l630.504,630.504m-382.55,-382.55c58.35,-232.483 268.883,-404.85 519.354,-404.85c295.504,0 535.417,239.913 535.417,535.417c0,295.504 -239.912,535.417 -535.417,535.417c-147.754,0 -281.608,-59.979 -378.521,-156.896"
            style="fill:#a85252;fill-opacity:0;stroke:#7977da;stroke-width:138.88px;"
        ></path></svg
    >
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    <div class="bar">
        <div class="ra"></div>
        <div class="ra"></div>
        <div class="ra"></div>
    </div>
</nav>

<style>
    svg {
        filter: drop-shadow(1px 1px 5px rgb(58, 85, 156));
    }

    nav {
        height: 5.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 2em;
        padding-left: 2em;
        text-decoration: none;
    }
    ul {
        display: none;
    }
    li {
        list-style: none;
    }

    .ra {
        height: 4px;
        width: 2.5em;
        background-color: #7977da;
        
    }

    .bar {
        display: flex;
        flex-direction: column;
        gap: 7px;
        filter: drop-shadow(1px 1px 5px rgb(58, 85, 156));
    }

    @media (min-width: 600px) {
        ul {
            display: block;
        }
        div {
            display: none;
        }
    }
</style>
